@model IEnumerable<AccountTask.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddAccount" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyAddress.GetAddress())
            </td>
            <td>
                <a asp-action="UpdateAccount" asp-route-AccountId="@item.Id" class="btn btn-primary">Edit</a> |
                <form asp-action="DeleteAccount" asp-route-AccountId="@item.Id">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@

            </td>
        </tr>
}
    </tbody>
</table>
