@model IEnumerable<AccountTask.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Список Лицевых Счетов</h1>

<p>
    <a asp-action="AddAccount" class="btn btn-success">Открыть новый Лицевой Счёт</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Locality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Building)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApartmentNumber)
        </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResidentsNumber)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningDate)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Building)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApartmentNumber)
        </td>*@
            @*<td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResidentsNumber)
        </td>*@
            <td>
                <span class="btn-group">
                    <a asp-action="UpdateAccount" asp-route-accountId="@item.Id" class="btn btn-primary">Редактировать Лицевой Счёт</a>
                    <a asp-action="ShowDetailsOfAccount" asp-route-accountId="@item.Id" class="btn btn-primary">Детали Лицевого Счёта</a>

                </span>
                <form asp-action="DeleteAccount" asp-route-accountId="@item.Id">
                    <button type="submit" onclick="return confirm('Вы действительно хотите удалить запись?')" class="btn btn-danger">Удалить Лицевой Счёт</button>
                </form>
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
            </td>
        </tr>
        }
    </tbody>
</table>
