@model AccountTask.Models.Account

@{
    ViewData["Title"] = "ShowDetailsOfAccount";
}

<h1>Детализация Лицевого Счёта</h1>

<div>
    @*<h4>Лицевой Счёт</h4>*@
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>
        <dd class="col-sm-9 form-control">
            @Html.DisplayFor(model => model.AccountId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-9 form-control">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Locality)
        </dt>
        <dd class="col-sm-9 form-control">
            @Html.DisplayFor(model => model.Locality)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class="col-sm-9 form-control">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Building)
        </dt>
        <dd class="col-sm-9 form-control">
            @Html.DisplayFor(model => model.Building)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ApartmentNumber)
        </dt>
        <dd class="col-sm-9 form-control">
            @Html.DisplayFor(model => model.ApartmentNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class="col-sm-9 form-control">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ResidentsNumber)
        </dt>
        <dd class="col-sm-9 form-control">
            @Html.DisplayFor(model => model.ResidentsNumber)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.OpeningDate)
        </dt>
        <dd class="col-sm-9 form-control">
            @Html.DisplayFor(model => model.OpeningDate)
        </dd>
    </dl>
</div>
<div>
    <span class="btn-group">
        <a asp-action="UpdateAccount" asp-route-accountId="@Model.Id" class="btn btn-primary">Редактировать Лицевой Счёт</a>

        <form asp-action="DeleteAccount" asp-route-accountId="@Model.Id">
            <button type="submit" onclick="return confirm('Вы действительно хотите удалить запись?')" class="btn btn-danger">Удалить Лицевой Счёт</button>
        </form>
    </span>

    <a asp-action="Index">Обратно к списку Лицевых Счетов</a>
    @*<a asp-action="Index" class="btn btn-info">Back to List</a>*@

    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>*@
</div>
