@model IEnumerable<acftApplication.Models.Aircraft>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddAircraft" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                <a asp-action="UpdateAircraft" asp-route-arcftId="@item.Id" class="btn btn-primary">Edit</a> |
                <form asp-action="DeleteAircraft" asp-route-acftId="@item.Id">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@

            </td>
        </tr>
}
    </tbody>
</table>
