@model IEnumerable<AccountTask.Models.Aircraft>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Aircrafts</h1>

<p>
    <a asp-action="AddAircraft" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                <span class="btn-group">
                    <a asp-action="UpdateAircraft" asp-route-aircraftId="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="ShowDetailsOfAircraft" asp-route-aircraftId="@item.Id" class="btn btn-primary">Details</a>
                    <form asp-action="DeleteAircraft" asp-route-aircraftId="@item.Id">
                        <button type="submit" onclick="return confirm('Вы действительно хотите удалить запись?')" class="btn btn-danger">Delete</button>
                    </form>
                </span>                    
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
            </td>
        </tr>
}
    </tbody>
</table>
